.title-container {
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 100px;
    margin-bottom: 50px;
}

.title-container h1 {
    font-size: 42px;
}

/*Input Section */

.input-container {
    background-color: aliceblue;
    margin-left: 100px;
    margin-right: 100px;
    display: grid;
    justify-items: center;
    border: 1px solid grey;
    border-radius: 10px;
}

.form {
    display: grid;
    grid-template-columns: 300px 300px 150px 150px; 
    grid-template-rows: 100px;
    justify-items: center;
    align-items: center;
}

.title {
    grid-column: 1/2;
}

.title input{
    width: 250px;
    height: 30px;
    border-radius: 5px;
}

.author {
    grid-column: 2/3;
}

.author input {
    width: 250px;
    height: 30px;
    border-radius: 5px;
}

.status {
    grid-column: 3/4;
}

.status select{
    width: 100px;
    height: 36px;
    border-radius: 5px;
}

.submit {
    grid-column: 4/5;
}

.submit input{
    height: 40px;
    width: 100px;
    border-radius: 5px;
    background-color: #33C3F0;
    border: none;
}

/* Tile Section */
.tile-container {
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(175px, 200px));
    gap: 10px;
    row-gap: 25px;
    justify-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.bookTile {
    border: 1px solid black;
    display: grid;
    grid-template-rows: ;
    border-radius: 10px;
    height: 200px;
    width:175px;
    background-color: rgb(182, 220, 237);
    justify-items: center;
}

.titleTile {
    font-size: 24px;
    align-self: end;
}

.authorTile {
    align-self: center;
}

.statusTile {
    border-radius: 10px;
    height: 25px;
    width: 100px;
}

